<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BPT"
        tools:targetApi="31">

        <activity
            android:name=".activities.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/splash_screen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activities.Main"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.CabinetSearch"
            android:screenOrientation="portrait" />

    </application>

</manifest>